<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>My3DFacePrj</display-name>
	<welcome-file-list>
		<welcome-file>gallery.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ImageRGBServlet</display-name>
		<servlet-name>ImageRGBServlet</servlet-name>
		<servlet-class>org.my.image.servlets.ImageRGBServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageRGBServlet</servlet-name>
		<url-pattern>/ImageRGBServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SliderManagerServlet</display-name>
		<servlet-name>SliderManagerServlet</servlet-name>
		<servlet-class>org.my.image.servlets.SliderManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SliderManagerServlet</servlet-name>
		<url-pattern>/SliderManagerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UploadImage</display-name>
		<servlet-name>UploadImage</servlet-name>
		<servlet-class>org.my.image.servlets.UploadImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadImage</servlet-name>
		<url-pattern>/UploadImage</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DebugServlet</display-name>
		<servlet-name>DebugServlet</servlet-name>
		<servlet-class>org.my.image.servlets.DebugServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DebugServlet</servlet-name>
		<url-pattern>/DebugServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ZipServlet</display-name>
		<servlet-name>ZipServlet</servlet-name>
		<servlet-class>org.my.image.servlets.ZipServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ZipServlet</servlet-name>
		<url-pattern>/ZipServlet</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>org.my.image.servlets.FileUploadListener</listener-class>
	</listener>
</web-app>