@CHARSET "windows-1255";

body {
	/*color: #61443e;*/
	font-family: Monospace;
	font-size: 13px;
	text-align: center;
	/*background-color: #bfd1e5;*/
	background: url('../images/interface/WebGL_BackGround.png') repeat top left;
	margin: 0px;
	overflow: hidden;
	
}

.share-icons {
	float:right;
	margin-right:10px;
	margin-top:1px;	

}
#top-menu-left a, #top-menu-right a {
    cursor: pointer;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 5px;
}

a {
	color: #a06851;
}

.transform-rotate {
	background-image: url('../images/Actions-transform-rotate-icon.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50px;
	left: 0px;
	cursor : pointer;
}

.transform-move {
	background-image: url('../images/Actions-transform-move-icon.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50px;
	left: 0px;
	cursor : pointer;
}

#zoom-in {
	background-image: url('../images/Zoom-In-icon.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50px;
	left: 30px;
	cursor : pointer;
}

#zoom-out {
	background-image: url('../images/Zoom-Out-icon.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50px;
	left: 60px;
	cursor : pointer;
}


.zipSeperator {
	background: url('../images/green/widget-sep.png') no-repeat center 100%;
	/*background:yellow;*/
	width:110px;
	display: block; 
	height: 2px; 
}
.zipLink {
	bottom:11px;
	left: 20px;
	position: absolute;
	background: url('../images/green/widget-sep.png') no-repeat center 95%;
	 
	display: block; 
	width: 110px;
	height: 38px; 
	cursor : pointer;
	font-size: 12px; font-family: "Trebuchet MS", arial, sans-serif;
	text-align: center;
}

.zipLink a { 
	color: #c2c2c2; 
	font-size: 11px; 
	padding-left: 13px; 
	background: url('../images/green/widget-item.png') repeat-x 0 0; 
	display: block; 
	text-transform: uppercase; 
	line-height: 33px; 
	overflow: hidden; 
}

.zipLink a:hover {
	background: #2a2a2a url('../images/green/body-bg.png') repeat-x 0 -35px;
	text-decoration: none; 
	color: #7af502; 
}

.zipLink a img.zipImage {
	border: none;
	position: absolute;
	top: -2px;
	margin-left: -25px; 
	width:40px;
	height:40px;
	display: block; 
	float:left;
}
.zipLink a span {
	float:left;
	padding-left: 22px; 
	display: block; 
}

.faceboklike {
	top: 0px;
	left: 650px;
	position: absolute;
}


#container {
	top: 80px;
	position: absolute;
}

.hide {
	display: none;
}


