@CHARSET "windows-1255";


@font-face {
	font-family:"KOMIK";
	src: url('../fonts/KOMIKAX_.ttf');
}

#content-green h2.InfoTitle {
	font-family:"KOMIK";
	margin-top:-18px;
	margin-bottom:24px;
	background:none;
	font-weight:normal;
	text-transform:none;
	font-size: 20px;
}

#uploadFileBtn {
	/* New upload buttons design properties */	
	background-image: url("../images/UploadFile32.png");
	background-repeat: no-repeat;
	border:none;
	width: 32px;
	height: 32px;
	float:left;
	padding:0;
	margin-left:-21px;
	margin-top: -20px;
	margin-bottom:-15px;
	
}

#fileUpload  .title-bottom {
	
	background: url('../images/green/title-top.png') no-repeat 0 0;
	display: block;
	bottom: 0;
	left: 0;
	width: 569px;
	height: 3px;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
	margin-bottom: 30px;
	margin-top: -35px;
}

#webcambox {
	cursor : pointer;
	background-image: url('../images/blue-camera-icon.png');
	width: 32px;
	height: 32px;
/* 	top : 460px; */
/* 	left: 450px; */
	background-repeat: no-repeat;
	position: absolute;
}

#urlbox { 
	cursor : pointer;
	background-image: url('../images/Upload-url-new.png');
	width: 32px;
	height: 32px;
/* 	top : 460px; */
/* 	left: 450px; */
	background-repeat: no-repeat;
	position: absolute;
	margin-left: 10px;
}